@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Roboto+Mono:wght@300;400&display=swap');

:root {
  --dark-purple: #190036;
	--purple: #935ee7;
  --projectBg: #8561be;
	--light-purple: #b78aff;
	--main-text-color: #e5d2ff;
  --navHeight: 80px;
  --navTransition: transform .5s;
}

html {
	scroll-behavior: smooth;
}

body {
  background-color: #0c0020;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color);
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
  scrollbar-color: #502782 rgba(166, 32, 255, 0.5);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #190036;
}

*::-webkit-scrollbar-thumb {
  background-color: #502782;
  border-radius: 10px;
}

::selection {
  background: #580078;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.App {
  counter-reset: my-awesome-counter;
}

.title {
  counter-increment: my-awesome-counter;
}

.title::before {
  content: "0" counter(my-awesome-counter) ".";
  margin-right: 0.2rem;
  color: var(--light-purple);
}

.kitty {
  cursor: url('img/maxwell-cat2.png') 25 26, pointer;
}

.animatedText {
  animation: fadeIn .7s;
}

.line-1{
    border-right: 2px solid rgba(255,255,255,.75);
    overflow: hidden;
    white-space: nowrap;
}

.section {
  padding: 100px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section:nth-child(1){
	padding-top: 20px;
}

.anim-typewriter{
  animation: 
    typewriter steps(4) 1s 1 normal both,
    blinkTextCursor 800ms steps(44) infinite normal;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 18rem;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}