@tailwind components;
@tailwind utilities;

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: flex;
    margin: 0;
    padding: 0;
}

ol li {
    counter-increment: my-awesome-counter;
    display: flex;
    @apply
    md:mr-8
}

ol :nth-last-child(1) {
    @apply
    md:mr-0;
}

ol li a::before {
    content: "0" counter(my-awesome-counter) ".";
    margin-right: 0.2rem;
    color: var(--counter-text);
}

a {
    transition: .2s ease-in-out transform;
}

a:hover {
    transform: translateY(-2px);
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: var(--main-text-color);
    margin: 4px 0;
    transition: 0.4s;
    border-radius: 10px;
  }
  
  .active1 {
    transform: rotate(45deg) translate(8px, 8px);
  }
  
  .active2 {
    opacity: 0;
  }
  
  .active3 {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
@media screen and (max-width: 768px) {
    .expanded, .closed {
        transition: var(--navTransition);
    }

    .expanded{
        transform: translateY(0);
    }

    .closed {
        transform: translateY(-100vh);
    }
}